body {
  background-color: white;
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  
}
section {
  border: 1px solid black;
  width: calc((100vw-3px)/2);
  margin: 0;
  padding: 10px;
  position: relative;
}
section:first-child {
  margin-right: -1px;
}
section textarea {
  width: calc(100% - 5px*2);
  height: calc(100% - 5px*2 - 20px);
  padding: 5px;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
}
section[role='preview'] div.grid {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent; # limegreen; 
  width: calc((100vw - 3px)/2 - (10px * 2));
  height: calc(100% - (10px * 2) );
}